.hero{
   height: calc(100vh - 100px);
   overflow: hidden;
   background: linear-gradient(100deg, #0c0c1d, #111132 );   
   position: relative;

   .wrapper {
    max-width: 950px;
    height: 100%;
    margin:  auto;
   
    .textContainer {
    width: 50%;    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2 0px;
    }

    h2{
        font-size: 30px;
        color: #1cb5f1;
        letter-spacing: 10px;
    }

    h1{
        font-size: 58px;
        // letter-spacing: 10px;    
    }

    .buttons {
        display: flex;

        button{
            display: flex;
            padding: 20px;
            margin-right:20px; 
            color: white;
            border-radius: 10px   ;
            border : 1px solid #1cb5f1;  
            background-color: transparent ;
        }
    } 

    img{
        width: 50px; 
    }
   }

   .slidingTextContainer{
    position: absolute;
    font-size: 50vh;  
    font-weight: bold;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
   }

   .imgContainer {
     height: 100%;
     position: absolute;
     top: 0;
     right: 0; 
   }
}