@use "../../app.scss" as *; 

.contact{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;

    @include mobile{
        width: 100%; 
        padding: 20px;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .textContainer{
        flex: 1;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        gap: 40px;

        @include mobile{
            gap: 20px;
            text-align: center;
            align-items: center; 
            margin-top: 70px; 
        }

        h1{
            font-size: 100px;
            line-height: 88px;
            // color: orange;

            @include mobile{
                font-size: 36px;
                line-height: 50px;
            }
        }

        p{
            font-size: 40px;
            line-height: 30px;
            color: gray;
        }

        span{
            font-weight: 300;
        }

    }

    .formContainer{
        flex: 1;
        position: relative;

        @include mobile {
            padding: 50px;
            width: 100%;
        }

        .phoneSvg{
            position: absolute;
            margin: auto;
            width: 20px;
            height: 20px;
            fill: orange;
            z-index: -1;  

            svg {
                
               @include mobile {
                width: 300px;
               }
            }
        }

        form{
        display: flex;
        flex-direction: column;
        gap: 20px;

        input, textarea{
            padding: 20px;
            background: transparent ;
            border: 1px solid white;
            color: white;
            outline: none;
            border-radius: 5px;

            @include mobile{
                padding: 10px;
            }
        }

        button{
            padding: 20px;
            background-color: orange;
            border: none;
            cursor: pointer;
            font-weight: 500;

            @include mobile{
                padding: 10px;
            } 
        }
    }
    }
}