.navbar{
    height: 100px;

    .wrapper{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .logo-wrapper{
            display: flex;
            align-items: center;
            gap: 5px;
    
            .v-i{
                font-size: 1.5rem;
                color: #1cb5f1;
            }
        }

        .socials{
            display: flex;
            gap: 20px;
            color: #1cb5f1;
        }
    }

}